<div class="product">
  <div class="card" style="width: 40rem">
    <img
      src="https://api.tehnomanija.rs/medias/?context=bWFzdGVyfGltYWdlc3wxOTI5OHxpbWFnZS9qcGVnfGg4NS9oY2YvODgyNDc2MDMwMzY0NnxmMjA5MmUzZmI2ZmIxN2IzYzZjZTFhZmVkZDM0NmYyMDdkMDcwMzBiZTM4YjE4YmM0MDNlNDg0MDcwOTNkM2Y5"
      class="card-img-top"
      alt="..."
    />
    <div class="card-body">
      <h5 class="card-title">{{ products[index].name }}</h5>
      <p class="card-text">
        Lenovo Laptop IdeaPad 3 15ADA05 (81W100K1YA) 15,6"/AMD 3020e/4 GB
        DDR4/128 GB SSD/AMD Radeon/FreeDOS
      </p>

      <h2 class="price">400e</h2>
      <a href="http://localhost:4200/lenovo" class="btn btn-primary"
        >Dodaj u korpu</a
      >
    </div>
  </div>
</div>
